﻿fieldset { 
	border:0;
	margin:0;
	padding:0; 
}
input.text { 
	margin:1px 0;
	border-top:1px dashed #ccc; 
	border-bottom:2px solid #ccc; 
	width:230px; 
	padding:4px 4px 4px 6px;  
	color:#706b64;
	font:normal "Trebuchet MS",Verdana,"Lucida Grande",Tahoma,Helvetica,Sans-Serif;
	font-size:0.9em; 
	line-height:1.18em; 
	height:20px;
	background-color:#F1F1F1;
}
input.text:hover { 
	margin:1px 0;
	border-top:1px dashed #000; 
	border-bottom:2px solid #000;  
	width:230px; 
	padding:4px 4px 4px 6px;   
	color:#000;
	font:normal "Trebuchet MS",Verdana,"Lucida Grande",Tahoma,Helvetica,Sans-Serif;
	font-size:0.9em; 
	line-height:1.18em; 
	background-color:#FFF;
}
textarea { 
	margin:1px 0;
	border-top:1px dashed #ccc; 
	border-bottom:2px solid #ccc;  
	width:233px; 
	padding:4px 4px 4px 6px;  
	color:#706b64;
	font:normal "Trebuchet MS",Verdana,"Lucida Grande",Tahoma,Helvetica,Sans-Serif;
	font-size:0.9em; 
	line-height:1.18em; 
	height:100px;
	background-color:#F1F1F1;
}
textarea:hover { 
	margin:1px 0;
	border-top:1px dashed #000; 
	border-bottom:2px solid #000; 
	width:233px; 
	padding:4px 4px 4px 6px;   
	color:#000;
	font:normal "Trebuchet MS",Verdana,"Lucida Grande",Tahoma,Helvetica,Sans-Serif;
	font-size:0.9em; 
	line-height:1.18em; 
	background-color:#FFF;
}



input.submit { 
	padding:2px 5px;
	font:normal "Trebuchet MS",Verdana,"Lucida Grande",Tahoma,Helvetica,Sans-Serif;
	height:40px;
	width:150px; 
	font-size:2.0em; 
	line-height:1.18em; 
	color:#706b64;
	border:2px dashed #ccc;
	background: #F1F1F1;
     background: -webkit-linear-gradient( #FFF, #F1F1F1);
     background:    -moz-linear-gradient( #FFF, #F1F1F1);
     background:     -ms-linear-gradient( #FFF, #F1F1F1);
     background:      -o-linear-gradient( #FFF, #F1F1F1);
     background:         linear-gradient( #FFF, #F1F1F1);
}
input.submit:hover { 
	padding:2px 5px;
	font:normal "Trebuchet MS",Verdana,"Lucida Grande",Tahoma,Helvetica,Sans-Serif;
	height:40px;
	width:150px; 
	font-size:2.0em; 
	line-height:1.18em; 
	color: #000;
	border:2px solid #000;
	background: #F1F1F1;
     background: -webkit-linear-gradient( #F1F1F1, #FFF);
     background:    -moz-linear-gradient( #F1F1F1, #FFF);
     background:     -ms-linear-gradient( #F1F1F1, #FFF);
     background:      -o-linear-gradient( #F1F1F1, #FFF);
     background:         linear-gradient( #F1F1F1, #FFF);
     cursor:pointer;
}