#blanket {
   background-color:#111;
   opacity: 0.65;
   *background:none;
   position:absolute;
   z-index: 9001;
   top:0px;
   left:0px;
   width:100%;
   -webkit-transition:all .25s;
   -moz-transition:all .25s;
    -ms-transition:all .25s;
     -o-transition:all .25s;
        transition:all .25s;
}

#popUpDiv {
	top:50px;
	left:50px;
	right:50px;
	height:750px;
	position:absolute;
	border:5px solid #000;
	z-index: 9002;
	background: url(../images/secteur_carte.png) no-repeat;
	border-radius:5px;
	-webkit-transition:all .25s;
   -moz-transition:all .25s;
    -ms-transition:all .25s;
     -o-transition:all .25s;
        transition:all .25s;
}

#popUpDiv a {
	position:absolute; 
	top:-20px; 
	right:0;
	color:#000;
	font-size:3.0em;
	text-decoration:none;
	-webkit-transition:all .25s;
   -moz-transition:all .25s;
    -ms-transition:all .25s;
     -o-transition:all .25s;
        transition:all .25s;
}

#popUpDiv a img {
	border:none;
	width:35px;
	height:35px;
	-webkit-transition:all .25s;
   -moz-transition:all .25s;
    -ms-transition:all .25s;
     -o-transition:all .25s;
        transition:all .25s;
}