﻿/* Définition des polices personnalisées */

/* Eléments principaux de la page */

body
{
    /*background: url('images/fond_jaune.png');*/
    font:normal "Trebuchet MS",Verdana,"Lucida Grande",Tahoma,Helvetica,Sans-Serif;
    color: #181818;
	background-color:#FFF;
	position: relative;
	min-height: 100%;
	margin: 0 auto;
	padding-bottom: 100px;
	/*-webkit-font-smoothing:antialiased;*/
	overflow-x:hidden;
}

#bloc_page
{
    width: auto;
    margin-left: 20px;
	margin-right: 20px;
}

section h1, footer h1, nav a
{
    /*font-family: Dayrom, serif;*/
    font-weight: normal;
    text-transform: uppercase;
}

/* Header */

header
{
    /*background: url('images/separateur.png') repeat-x bottom;*/
}

#logo {
}

#titre_principal
{
    display: inline-block;
}

header h1
{
    font-family: 'Dayrom', serif;
    font-size: 2.5em;
    font-weight: normal;
}

#logo, header h1
{
    display: inline-block;
    margin-bottom: 0px;
}

header h2
{
    font-size: 2.0em;
    margin-top: 0px;
    font-weight: normal;
}

#haut_droite
{
	top:5px;
}

#secteur
{
	position:absolute;
	right:0px;
	border-left:1px dashed #000;
	width:190px;
	height:150px;
	text-align:center;
}
#secteur img
{
	width:100px;
	height:100px;
	border:none;
}
#secteur a {
	color: #CC0000;
    font-size: 0.8em;
    font-weight: normal;
    text-decoration: none;
   	border:none;
   	-webkit-transition:all .25s;
    -moz-transition:all .25s;
    -ms-transition:all .25s;
    -o-transition:all .25s;
    transition:all .25s;
}
#secteur a:hover {
	color:#8C8C8C;
	border:none;
	-webkit-transition:all .25s;
    -moz-transition:all .25s;
    -ms-transition:all .25s;
    -o-transition:all .25s;
    transition:all .25s;
}

#contact
{
	position:absolute;
	right:200px;
	border-left:1px dashed #000;
	width:190px;
	height:150px;
	text-align:center;
}
#contact img
{
	width:100px;
	height:100px;
	border:none;
}
#contact a {
	color: #CC0000;
    font-size: 0.8em;
    font-weight: normal;
    text-decoration: none;
	border:none;
	-webkit-transition:all .25s;
    -moz-transition:all .25s;
    -ms-transition:all .25s;
    -o-transition:all .25s;
    transition:all .25s;
}
#contact a:hover {
	color:#8C8C8C;
	border:none;
	-webkit-transition:all .25s;
    -moz-transition:all .25s;
    -ms-transition:all .25s;
    -o-transition:all .25s;
    transition:all .25s;
}

#telephone
{
	position:absolute;
	right:370px;
	border-left:1px dashed #000;
	width:190px;
	height:150px;
	margin-left:50px;
	text-align:center;
	color: #CC0000;
    font-size: 1.0em;
    font-weight: normal;
    text-decoration: none;
	border:none;
}
#telephone img
{
	width:100px;
	height:100px;
	border:none;
}
/*#telephone {
	background-color:#CC0000;
	margin-left:50px;
	height:100px;
	font-size: 1.8em;
	color:#F1F1F1;
	padding:2px;
	-moz-box-shadow: 0px 2px 5px #1c1a19;
	-webkit-box-shadow: 0px 2px 5px #1c1a19;
	box-shadow: 0px 2px 5px #1c1a19;
	position:absolute;
	right:400px;
	border-left:1px dashed #000;
	width:300px;
	height:150px;
	text-align:center;
    text-decoration: none;
	border:none;
}*/

/* Corps */
section
{
	background-color:#f1f1f1;
	padding:10px;
	-moz-box-shadow: 0px 2px 5px #1c1a19;
	-webkit-box-shadow: 0px 2px 5px #1c1a19;
	box-shadow: 0px 2px 5px #1c1a19;
}

section article
{
	position: relative;
}

section aside
{
	position: absolute;
	right: 50px;
	top: 200px;
}

article, aside
{
    display: inline-block;
    vertical-align: top;
    text-align: justify;
}

.titre_article
{
	background-color:#CC0000;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	/*border-right: 10px solid #706b64;*/
	margin-left:50px;
	width:400px;
	height:25px;
	
}
.titre_article p
{
	font-size: 1.3em;
	color:#F1F1F1;
	padding:2px;
	$/font-weight:bold;*/
}

#initiation
{
	width: 70%;
	min-height:300px;
    margin-right: 40%;
    border-top:1px solid #000;
}

#initiation .p 
{
	position:relative;
	/*width:60%; */
	padding-left:210px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
	text-align:justify;
}
#initiation .p img 
{
	position:absolute;
	left:0;
	width:150px;
	height:150px;
}

#installation
{
	width: 70%;
	min-height:300px;
    margin-right: 40%;
	border-top:1px solid #000;
}

#installation .p 
{
	position:relative;
	/*width:60%; */
	padding-right:210px; 
	padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;
	text-align:justify;
}
#installation .p img {
	position:absolute;
	right:0;
	width:150px;
	height:150px;
}

#numerisation
{
	width: 70%;
	min-height:300px;
    margin-right: 40%;
	border-top:1px solid #000;
}

#numerisation .p 
{
	position:relative;
	/*width:60%; */
	padding-left:210px; 
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
	text-align:justify;
}
#numerisation .p img {
	position:absolute;
	left:0;
	width:150px;
	height:150px;
}

#conseil
{
	width: 70%;
	min-height:200px;
    margin-right: 40%;
	border-top:1px solid #000;
}

#conseil .p 
{
	position:relative;
	/*width:60%; */
	padding-right:210px;
	padding-left:10px;
	padding-top:10px;
	padding-bottom:10px;
	text-align:justify;
}
#conseil .p img {
	position:absolute;
	right:0;
	width:150px;
	height:150px;
}



#plus
{
	width: 70%;
	min-height:200px;
    margin-right: 40%;
	border-top:1px solid #000;
}

#plus .p
{
	position:relative;
	/*width:60%; */
	padding-left:210px; 
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
	text-align:justify;
}
#plus .p img {
	position:absolute;
	left:0;
	width:150px;
	height:150px;
}

aside
{
    width: 20%;
    background-color: #706b64;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    padding: 10px;
}
aside p {
    margin-top:3px;
    color: white;
    font-size: 0.9em;
}

aside img
{
    margin-right: 5px;
}

aside h1 {
	color:#F1F1F1;
}

#fleche_bulle
{
    position: absolute;
    top: 100px;
    left: -12px;
}

#photo_aside
{
    text-align: center;
}

#photo_aside img
{
    border: 2px solid #F1F1F1;
    -webkit-box-shadow:
    	inset 0 0 1px rgba(0,0,0,.8),
        inset 0 2px 0 rgba(255,255,255,.5),
        inset 0 -1px 0 rgba(0,0,0,.4);
    -moz-box-shadow:
    	inset 0 0 1px rgba(0,0,0,.8),
        inset 0 2px 0 rgba(255,255,255,.5),
        inset 0 -1px 0 rgba(0,0,0,.4);
    box-shadow:
    	inset 0 0 1px rgba(0,0,0,.8),
        inset 0 2px 0 rgba(255,255,255,.5),
        inset 0 -1px 0 rgba(0,0,0,.4);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width:240px;
    height:150px;
    position:relative;
    left:10px;
    right:10px;
}
.table_prix_droite {
	position:relative;
	padding-left:30%; 
}

.table_prix_gauche {
	position:relative;
	padding-right:30%; 
}

.table_prix {
	padding:3px;
}

.tr_prix {
	padding:3px;
}

.td_prix_droite {
	padding:3px;
	border-right:1px dashed #000;
	width:100px;
}
.td_prix_bas {
	padding:3px;
	border-bottom:1px dashed #000;
	width:300px;
}

.prix {
text-align:center;
font-size:1.0em;
padding:3px;
width:50px;
height:50px;
color:#000000;
-moz-box-shadow: 0px 0px 10px #343434;
-webkit-box-shadow: 0px 0px 10px #343434;
-o-box-shadow: 0px 0px 10px #343434;
box-shadow: 0px 0px 10px #343434;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
border: 1px solid #656565;
background:#ffffff;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#cfcfcf"); /* Pour IE seulement et mode gradient à linear */
background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cfcfcf));
background: -webkit-linear-gradient(#ffffff, #cfcfcf);
background: -moz-linear-gradient(#ffffff, #cfcfcf);
background: -o-linear-gradient(#ffffff, #cfcfcf); 
background: -ms-linear-gradient(#ffffff, #cfcfcf); 
background: linear-gradient(#ffffff, #cfcfcf);  
-webkit-transform: rotate(25deg);
-moz-transform: rotate(25deg);
-o-transform: rotate(25deg);
transform: rotate(25deg);
}

.prix_s {
text-align:center;
font-size:1.0em;
padding:3px;
width:50px;
height:50px;
color:#FFF;
-moz-box-shadow: 0px 0px 10px #343434;
-webkit-box-shadow: 0px 0px 10px #343434;
-o-box-shadow: 0px 0px 10px #343434;
box-shadow: 0px 0px 10px #343434;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
border: 1px solid #656565;
background:#706b64;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#706b64", endColorstr="#cfcfcf"); /* Pour IE seulement et mode gradient à linear */
background: -webkit-gradient(linear, left top, left bottom, from(#706b64), to(#cfcfcf));
background: -webkit-linear-gradient(#706b64, #cfcfcf);
background: -moz-linear-gradient(#706b64, #cfcfcf);
background: -o-linear-gradient(#706b64, #cfcfcf); 
background: -ms-linear-gradient(#706b64, #cfcfcf); 
background: linear-gradient(#706b64, #cfcfcf);  
-webkit-transform: rotate(25deg);
-moz-transform: rotate(25deg);
-o-transform: rotate(25deg);
transform: rotate(25deg);
}

/* Footer */

footer
{
    /*background:  url('images/ico_top.png') no-repeat top center, url('images/separateur.png') repeat-x top, url('images/ombre.png') repeat-x top;*/
    padding-top: 25px;
    padding-bottom: 25px;
    text-align:center;
}

footer ul
{
    font-size: 0.8em;
}

footer h1
{
    font-size: 1.1em;
}

#siret, #tel, #adresse
{
    display: inline-block;
    vertical-align: top;
}

#siret
{
    width: 28%;
}

#tel
{
    width: 35%;
}
#tel a
{
	text-decoration: none;
    color: #CC0000;
    -webkit-transition:all .25s;
    -moz-transition:all .25s;
    -ms-transition:all .25s;
    -o-transition:all .25s;
    transition:all .25s;
}
#tel a:hover
{
	text-decoration: none;
    color: #8C8C8C;
    -webkit-transition:all .25s;
    -moz-transition:all .25s;
    -ms-transition:all .25s;
    -o-transition:all .25s;
    transition:all .25s;
}

#adresse
{
    width: 31%;
}
#adresse a
{
	text-decoration: none;
    color: #CC0000;
    -webkit-transition:all .25s;
    -moz-transition:all .25s;
    -ms-transition:all .25s;
    -o-transition:all .25s;
    transition:all .25s;
}
#adresse a:hover
{
	text-decoration: none;
    color: #8C8C8C;
    -webkit-transition:all .25s;
    -moz-transition:all .25s;
    -ms-transition:all .25s;
    -o-transition:all .25s;
    transition:all .25s;
}

#copyright
{
	min-height:100px;
	position: absolute;
	bottom: 0px;
	width:100%;
	margin: 0 auto;
	background-color: #706b64;
	border-top: 2px solid #CC0000;
	color:#FFF;
	font:normal "Trebuchet MS",Verdana,"Lucida Grande",Tahoma,Helvetica,Sans-Serif;
    font-size: 0.8em;
    font-weight: normal;
    padding:10px;
    text-align:center;
}
#copyright a {
	text-decoration: underline;
	color: #FFF;
	-webkit-transition:all .25s;
    -moz-transition:all .25s;
    -ms-transition:all .25s;
    -o-transition:all .25s;
    transition:all .25s;
}
#copyright a:hover {
	text-decoration: none;
	color: #CC0000;
	-webkit-transition:all .25s;
    -moz-transition:all .25s;
    -ms-transition:all .25s;
    -o-transition:all .25s;
    transition:all .25s;
}
#copyright .validation_html5 {
	position: absolute;
	border: 0px;
	margin-left: 10px;
	opacity: 0.1;
	-webkit-transition:all .25s;
    -moz-transition:all .25s;
    -ms-transition:all .25s;
    -o-transition:all .25s;
    transition:all .25s;
}
#copyright .validation_html5:hover {
	position: absolute;
	border: 0px;
	margin-left: 10px;
	opacity: 1;
	-webkit-transition:all .25s;
    -moz-transition:all .25s;
    -ms-transition:all .25s;
    -o-transition:all .25s;
    transition:all .25s;
}
#copyright .plusone {
	float: right;
	border: 0px;
	bottom: 10px;
	margin-left: 10px;
}
#copyright .texte {
	text-align: center;
}

.num {
	color:grey;
	font-size:3.0em;
}
.un {
	color:#CC0000;
		font-size:4.0em;
}
.nfo {
	color:black;
		font-size:3.0em;
}


/* Correctifs pour les vieilles versions d'Internet Explorer */

/* Pour activer un positionnement type inline-block sur les vieilles versions d'IE */

.old_ie #titre_principal, .old_ie #logo, .old_ie header h1, .old_ie nav, .old_ie nav li, .old_ie .bouton_rouge, .old_ie article, .old_ie aside, .old_ie #tweet, .old_ie #mes_photos, .old_ie #mes_amis, .old_ie #mes_amis ul, .old_ie #siret, .old_ie #tel, .old_ie #adresse
{
    display: inline;
    zoom: 1;
}

/* Quelques ajustements pour les vieilles versions d'IE */

.old_ie section h1, .ie8 section h1, .old_ie section h2, .ie8 section h2
{
    font-size: 1.1em;
}

.old_ie footer div, .ie8 footer div
{
    margin-top: 30px;
    /*background: url('images/separateur.png') repeat-x top;*/
}

